* {
  font-family: "Arvo", serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /* Crucial for layout sizing */
  background-color: #f6fdfb;
}

.full-screen {
  display: flex;
  min-height: 100vh;
}

/* New Container to hold Title + Form */
.main-body {
  flex: 1;
  display: flex;
  flex-direction: column; /* This stacks children (Title then Form) */
}

/* logo panel */
.logo-panel {
  border-bottom: 1px solid #e0e0e0;
  padding: 25px;
}

.logo {
  font-size: 23px;
  font-weight: bold;
  color: #2d6a4f;
}

.panel-description {
  font-size: small;
  font-weight: lighter;
  color: #9aa0a6;
}

/*basic profile*/
.basic-profile {
  border-top: 1px solid #e0e0e0;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: auto; /* Pushes profile to bottom of sidebar */
}

.pfp,
.pfp-2 {
  background-color: #2d6a4f;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.pfp-2 {
  width: 30px;
  height: 30px;
}

.username {
  font-weight: bold;
}

.designation {
  font-size: small;
  font-weight: lighter;
  color: #9aa0a6;
}

.content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 70px;
  border-bottom: 1px solid #e0e0e0;

}

.panel-name {
  font-size: 24px;
  font-weight: bold;
  color: #9aa0a6;
}

.des-pfp {
  display: flex;
  align-items: center;
  gap: 15px;
}

.designation-icon {
  background-color: #2d6a4f;
  color: white;
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 14px;
}
