RewriteEngine On
RewriteBase /livestockhub/livestock-ms/api/

# Redirect everything that isn't a real file to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]